<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Billing Page</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/insert">New Web App</a>
      <a class="active" href="/billing">Billing</a>
      
    </div>

      <img src="{{url_for('static', filename='logo.png')}}" align="middle" class="logo" />

    <div class="input-section">
      <form name="billing-input" method="post">
        <label for="Start Date" class="input-label">Start Date</label>
        <input type="date" class="input-date" id="start-date" name="start_date" name="Start Date">
        <label for="End Date" class="input-label">End Date</label>
        <input type="date" class="input-date" id="end-date" name="end_date" name="End Date">
        <input type="submit" class="input-button" value="Get Billing">
    </form>
    </div>
    <h3>SSPCP Billing Details</h3>

    <table class="content-table" style="width:100%">
      {% for row in csv %}
        <tr>
        {% for col in row.split(",") %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %} 

  </body>
  </html>
