/*----------------------- Variables --------------------------*/
:root {
    --blue:#124261;
    --blue_dark:#031d2e;
    --orange: #f5931f;
    --orange_soft: #f8ad0b;
    --white:#ffffff;
    --black: black;
        --bg-color:#021724;
    --txt-color: white;
    --border-color: white;
    --bg-menu-color: #07283d;
    --bg-menu-active:#f5931f;
    --bg-menu-hover:#cb6f00;
  }
/*----------------------- Body style --------------------------*/
body {
    margin: 0;
    background-color: var(--blue_dark);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
  }
/*----------------------- Top Nav Bar --------------------------*/  
.topnav {
    overflow: hidden;
    background-color: var(--blue);
  }
  
.topnav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: var(--orange_soft);
    color: var(--white);
  }
  
.topnav a.active {
    background-color: var(--orange);
    color: var(--white);
  }

.input-section {
    width: 40vw;
    margin: 0 auto;
    margin-top: 10px;
}
.input-date{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    color: var(--black);
    padding: 15px 15px;
}
.input-label{
    size: 25px;
    padding: 15px 15px;
    font-family: serif;
    font-size: 20px;

}
input[type=submit], input[type=reset] {
    background-color: var(--white);
    border: none;
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    padding: 4px 10px;
    margin: 10px 0px;
    cursor: pointer;
 }

 .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    width: 10%;
 }
.h3{
  font: normal normal normal 20px/1 Helvetica, arial, sans-serif;
  border-bottom: 2px solid var(--bg-menu-hover);
  background:var(--bg-menu-active);
  color:var(--txt-color);

  display:inline-block;
  padding:3px 15px;
  margin-left:10px;
}
.h3:after{
  left:0px;
  display:block;
  position:absolute;
  width:100%;
  height:3px;
  margin-top:2px;
  content: " ";
  background:var(--bg-menu-active);
}

.content-table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.content-table td, .content-table th {
  border: 1px solid var(--orange);
  padding: 8px;
}

.content-table tr:nth-child{background-color: #131313;}

.content-table tr:hover {background-color: rgb(58, 30, 7);}

.content-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--blue);
  color: white;
}